@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the up and down arrows for all major browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

.welcome-name-block{
  position: absolute;
  top: 35%;
  left: 5%;
}

.welcome-name-block h1{
  font-size: 55px;
  color: white;
  line-height: 55px;
  margin-bottom: 8px;
}
.welcome-name-block p {
  color: rgba(255, 255, 255, .6);
}
.guest-layout-background{
  background-image: linear-gradient(45deg, rgba(0,0,0,.3), rgba(0,0,0,.3)) ,url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inside-layout-background{
  background-image: linear-gradient(45deg, rgba(0,0,0,.7), rgba(0,0,0,.7)) ,url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.modalButtonsBuying{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalButtonsBuying > * {
  width: 150px;
}

.background-food{
  background-image: url("images/background.jpg");
}

.topSellingContainer{
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  overflow-x: auto;
}
.topSellingContainerSlide{
  display: flex;
}
.glassMo{
  box-shadow:  6px 6px 12px #e0e0e2,
  -6px -6px 12px #ffffff;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
  width: 350px;
  height: 100px;
  margin-bottom: 24px;
  flex-shrink: 0;
}
.glassMo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 28px;
}
.glassMo b {
  padding: 8px;
}